<h1>Log in</h1> 
<div>
  <%= form_for(:session, url: create_session_path) do |f| %> 
    <%= f.label :email %> 
    <%= f.text_field :email, :class => "form-control" %> 
    <%= f.label :password %> 
    <%= f.password_field :password, :class => "form-control" %>
    <br> 
    <%= f.submit "Sign in", class: "btn btn-primary" %>
  <% end %> 
  <p>
    New user? 
    <%= link_to "Sign up!", sign_up_path, class: "btn btn-success" %>
  </p> 
</div> 
